<br/>
<div id="io">
    <div class="card-panel purple darken-3 white-text" style="padding:5px; font-size: 20px">MDP Notes</div>
    <div style="overflow-x:auto; max-height: 16em;">
        <table id="ioRecords" class="hover order-column">
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Progress notes</th>
                    {{#unless userType}}
                    <th>Delete</th>
                    {{/unless}}
                </tr>
            </thead>
            <tbody>
                {{#if newIO}}
                    {{#each newIO}}
                    <tr style="height: 60px">
                        {{#unless ../userType}}
                        <td><a href="/master/io/{{ioID}}">{{formatDatetime datetime}}</a></td>
                        {{else}}
                        <td><a href="/student/io/{{../recordID}}/{{ioID}}">{{formatDatetime datetime}}</a></td>
                        {{/unless}}
                        <td>{{foodtype}}</td>
                        <td>{{foodportion}}</td>
                        <td>{{fluidtype}}</td>
                        <td>{{fluidportion}}</td>
                        {{!-- <td>{{patientID}}</td> --}}
                        {{#unless ../userType}}
                        <td style="width: 65px"> <!-- the tr we're trying to get -->
                            <form action="/master/del-io/{{ioID}}?_method=DELETE" method="post" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red darken-3">
                                 <i class="material-icons">delete
                            </button>
                            </form>
                        </td>
                        {{/unless}}
                    </tr>
                    {{/each}}
                {{else}}
                <p id="noRecord">You have not created any MDP notes yet</p>
                {{/if}}
            </tbody>
        </table>
    </div>
    <br>

    <div class="row">
        <div class="col s12 m8"></div>
    </div>

    {{#if editIO}}
    {{#unless userType}}
    <form action="/master/edit-io/{{editIO.ioID}}?_method=PUT" method="POST" id="editIO">
    {{else}}    
    <form action="/student/edit-io/{{recordID}}/{{editIO.ioID}}?_method=PUT" method="POST" id="editIO">
    {{/unless}}
    <input type="hidden" name="_method" value="PUT">
    {{else}}
    <form action="/master/add-io" method="POST" id="addIO">
    {{/if}}
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="ioInfo">
                    <span class="purple-text darken-2">MDP Notes</span>
                
                    <div class="row">
                            <div class="col s12 m4 input-field">
                                <input id="dateIO" type="text" class="datepicker" name="dateIO" value="{{editIO.date}}" required>
                                <label for="dateIO">Date</label>
                                <span class="helper-text">dd/mm/yyyy</span>
                            </div>

                            <div class="col s12 m4 input-field">
                                <input id="timeIO" type="text" class="timepicker" name="timeIO" value="{{editIO.time}}" required>
                                <label for="timeIO">Time</label>
                                <span class="helper-text">hh:ss</span>
                            </div>
                            <div class="col s12 m4 input-field">
                                    <select id="foodportion" name="foodportion">
                                        <option value="" disabled selected>Please select</option>
                                        <option value="1 Share">Doctor</option>
                                        <option value="3 Quarters">Nurse</option>
                                        <option value="2 Thirds">Alied Health</option>
                                    </select>
                                    <label for="Portion">Users</label>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <input id="fluidtype" type="text" name="fluidtype" value="{{editIO.fluidtype}}">
                            <label for="fluidtype">Name of Health Provider</label>
                            <span class="helper-text"></span>
                        </div>
                        <div class="col s12 m4 input-field">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Progress notes</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col s12 m8"></div>

        <div class="col s12 m4">
            {{#if editIO}}
            <button class="btn waves-effect waves-light" style="width: 150px; float:right;" type="submit" form="editIO">Save
            {{else}}
            {{#unless userType}}
            {{else}}
            <button class="btn waves-effect waves-light" style="width: 150px; float:right;" type="submit" form="addIO">Save
            {{/unless}}
            {{/if}}
            {{#unless userType}}
                {{else}}
                <i class="material-icons right">send</i>
            </button>
            {{/unless}}
        </div>
    </div>
</div>

<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
</script>
<script>

    $(document).ready(() => {
        $('.tabs').tabs();
    })

    document.addEventListener('DOMContentLoaded', () => {
        //IO
        const dateIO = document.querySelector('#dateIO');
        const timeIO = document.querySelector('#timeIO');
        const foodportion = document.querySelector('#foodportion');

        //Enteral
        const dateenteral = document.querySelector('#dateenteral');
        const timeenteral = document.querySelector('#timeenteral');
        const enteralfeed = document.querySelector('#enteralfeed');
        const formula = document.querySelector('#formula');

        //IV
        const dateiv = document.querySelector('#dateiv');
        const timeiv = document.querySelector('#timeiv');
        const coninf = document.querySelector('#coninf');

        //Output
        const dateoutput = document.querySelector('#dateoutput');
        const timeoutput = document.querySelector('#timeoutput');

        //IO Instances
        M.Datepicker.init(dateIO, {
            maxDate: new Date(),
            format: 'dd/mm/yyyy',
            disableWeekends: true
        });
        M.Timepicker.init(timeIO, {
            twelveHour: false,
            showClearBtn: true
        });

        M.FormSelect.init(foodportion, {
            
        })

        //Enteral Instances
        M.Datepicker.init(dateenteral, {
            maxDate: new Date(),
            format: 'dd/mm/yyyy',
            disableWeekends: true
        });
        M.Timepicker.init(timeenteral, {
            twelveHour: false,
            showClearBtn: true
        });

        M.FormSelect.init(enteralfeed, {
            
        })
        
        M.FormSelect.init(formula, {
            
        })

        //IV Instances
        M.Datepicker.init(dateiv, {
            maxDate: new Date(),
            format: 'dd/mm/yyyy',
            disableWeekends: true
        });
        M.Timepicker.init(timeiv, {
            twelveHour: false,
            showClearBtn: true
        });

        M.FormSelect.init(coninf, {
            
        })       

        //Output Instances
        M.Datepicker.init(dateoutput, {
            maxDate: new Date(),
            format: 'dd/mm/yyyy',
            disableWeekends: true
        });

        M.Timepicker.init(timeoutput, {
            twelveHour: false,
            showClearBtn: true
        });
                
    })  

 </script>