<style>
    td, th {
        text-align: center
    }
    .tabs .indicator {
        background-color: #6A1B9A;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active {
        background: transparent;
    }

    #diabeticflowsheettTable th {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: none;
    }
    #diabeticflowsheettTable tr {
        border-bottom: none;
    }
    #diabeticflowsheettTable tr td {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    {{!-- th, td{
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    } --}}
    
</style>


<br>
<div class="row">
    <div class="col s12">
        <div class="tabs">
            <li class="tab col s3 offset-s4" id="flowsheetTab"><a class="purple-text text-darken-3" id="tab0" href="#neuroflowsheet">Neurovascular Flowsheet</a></li>
            <li class="tab col s2" id="neurotab"><a class="purple-text text-darken-3" id="tab1" href="#neuro">Neurovascular</a></li>
            
            {{!-- <li class="tab col s2" id="tabletab"><a class="purple-text text-darken-3" id="tab5" href="#table">Net IO</a></li> --}}
        </div>
    </div>
</div>


 {{!-- IO Flowsheet code start --}}
 <div id="neuroflowsheet">
    <div class="card-panel purple darken-3 white-text" style="padding: 5px; font-size: 20px; text-align: center"> Neurovascular Flowsheet</div>
    
    <div style="overflow-x: auto; max-height: 48em;">
        <table id="diabeticflowsheettTable">
            <tr>
                <th width="10%" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">Datetime</th>
                {{#each neurodateVal}}
                <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">{{formatDatetime this}}</th>
                {{/each}}
            </tr>

            <tr>
                <th width="10%">Site Of Injury</th>
                {{#each neuroFlow}}
                {{!-- display shortform BB,AB,BD and etc, the function
                 is in student/master route by using splice. Create another col
                 named splitpoc in mongodb to store the split data teehee --}}
                <td class="poc">{{splitpoc}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%">Colour</th>
                {{#each neuroFlow}}
                <td class="bgl">{{bgl}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%">Temperature</th>
                {{#each neuroFlow}}
                <td>{{insulintype}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%">Capillary Refill</th>
                {{!-- <th width="10%" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">Amount of Insulin Given</th> --}}
                {{#each neuroFlow}}
                <td>{{insulinamt}}</td>
                {{!-- <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)" class="insulinamt">{{insulinamt}}</td> --}}
                {{/each}}
            </tr>
            <tr>
                <th width="10%">Peripheral Pulse</th>
                {{#each neuroFlow}}
                <td>{{insulintype}}</td>
                {{/each}}
            </tr>
            <tr>
                <th width="10%">Edema</th>
                {{#each neuroFlow}}
                <td>{{insulintype}}</td>
                {{/each}}
            </tr>
            <tr>
                <th width="10%">Movement</th>
                {{#each neuroFlow}}
                <td>{{insulintype}}</td>
                {{/each}}
            </tr>
            <tr>
                <th width="10%">Sensation</th>
                {{#each neuroFlow}}
                <td>{{insulintype}}</td>
                {{/each}}
            </tr>
            <tr>
                <th width="10%">Pain</th>
                {{#each neuroFlow}}
                <td>{{insulintype}}</td>
                {{/each}}
            </tr>
            <tr>
                <th width="10%">Numerical Rating Scale</th>
                {{#each neuroFlow}}
                <td>{{insulintype}}</td>
                {{/each}}
            </tr>
            <tr>
                <th width="10%">Verbal Descriptive Scale</th>
                {{#each neuroFlow}}
                <td>{{insulintype}}</td>
                {{/each}}
            </tr>
            <tr>
                <th width="10%" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">Characteristic</th>
                {{#each neuroFlow}}
                {{!-- <td>{{hypoagent}}</td> --}}
                <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)" class="hypoagent">{{hypoagent}}</td>
                {{/each}}
            </tr>
      
        </table>
    </div>
</div>

{{!-- Neuro code start --}}
<div id="neuro">
<div class="card-panel purple darken-3 white-text" style="padding:5px; font-size: 20px">Neurovascular</div>
    <div style="overflow-x:auto; max-height: 25em;">
        <table id="ioRecords" class="hover order-column">
            <thead>
                <tr>
                    {{!-- <th colspan="26">
                        Site of injury: Right arm
                    </th> --}}
                </tr>
                <tr>
                    <th rowspan="2">Date</th>
                    <th rowspan="2">Time</th>
                    <th></th>
                    {{!-- <th rowspan="2">Site of Injury</th> --}}
                    <th>Colour</th>
                    <th>Temperature</th>
                    <th>Capillary refill</th>
                    <th>Peripheral pulse</th>
                    <th>Edema</th>
                    <th>Movement</th>
                    <th>Sensation</th>
                    <th>Pain</th>
                    <th>Numerical Rating Scale</th>
                    <th>Verbal Descriptive Scale</th>
                    <th>Characteristic</th>

                    {{!-- <th>Patient ID</th> --}}
                    {{#unless userType}}
                    {{!-- <th>Delete</th> --}}
                    {{/unless}}
                </tr>
                <tr>
                    {{!-- <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Left</th>
                    <th>Right</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#if newNeuro}}
                    {{#each newNeuro}}
                    <tr style="height: 60px">
                        {{#unless ../userType}}
                        <td rowspan="2"><a href="/master/neuro/{{neuroID}}">{{date}}</a></td>
                        {{else}}
                        <td rowspan="2"><a href="/student/neuro/{{../recordID}}/{{neuroID}}">{{date}}</a></td>
                        {{/unless}}
                        <td rowspan="2">{{time}}</td>
                        {{!-- <td>{{siteOfInjury}}</td> --}}
                        <td>Left</td>
                        <td>{{colourLeft}}</td>
                        
                        <td>{{temperatureLeft}}</td>
                        
                        <td>{{capillaryRefillLeft}}</td>
                        
                        <td>{{peripheralPulseLeft}}</td>
                        
                        <td>{{edemaLeft}}</td>
                        
                        <td>{{movementLeft}}</td>
                        
                        <td>{{sensationLeft}}</td>
                        
                        <td>{{painLeft}}</td>
                        
                        <td>{{numericalRatingScaleLeft}}</td>
                        
                        <td>{{verbalDescriptiveScaleLeft}}</td>
                        
                        <td>{{characteristicLeft}}</td>
                        
                        {{!-- <td>{{patientID}}</td> --}}
                        {{#unless ../userType}}
                        {{!-- <td style="width: 65px"> <!-- the tr we're trying to get -->
                            <form action="/master/del-diabetic/{{diabeticID}}?_method=DELETE" method="post" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red darken-3">
                                 <i class="material-icons">delete
                            </button>
                            </form>
                        </td> --}}
                        {{else}}
                         {{!-- <td style="width: 65px"> <!-- the tr we're trying to get -->
                            <form action="/master/del-io/{{../recordID}}/{{ioID}}?_method=DELETE" method="post" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red darken-3">
                                 <i class="material-icons">delete
                            </button> --}}
                            </form>
                        {{/unless}}
                    </tr>
                    <tr>
                        <td>Right</td>
                        <td>{{colourRight}}</td>
                        <td>{{temperatureRight}}</td>
                        <td>{{capillaryRefillRight}}</td>
                        <td>{{peripheralPulseRight}}</td>
                        <td>{{edemaRight}}</td>
                        <td>{{movementRight}}</td>
                        <td>{{sensationRight}}</td>
                        <td>{{painRight}}</td>
                        <td>{{numericalRatingScaleRight}}</td>
                        <td>{{verbalDescriptiveScaleRight}}</td>
                        <td>{{characteristicRight}}</td>
                    </tr>
                    {{/each}}
                {{!-- {{else}}
                <p id="noRecord">You have not created any Neurovascular records yet</p> --}}
                {{/if}}
            </tbody>
        </table>
    </div>
    <br>

    <div class="row">
        <div class="col s12 m8"></div>
    </div>

    {{#if editNeuro}}
        {{#unless userType}}
        <form action="/master/edit-neuro/{{editNeuro.neuroID}}?_method=PUT" method="POST" id="editNeuro">
        {{else}}    
        <form action="/student/edit-neuro/{{recordID}}/{{editNeuro.neuroID}}?_method=PUT" method="POST" id="editNeuro">
        {{/unless}}
    {{!-- <input type="hidden" name="_method" value="PUT"> --}}
    {{else}}
        {{#unless userType}}
        <form action="/master/add-neuro" method="POST" id="addNeuro">
        {{else}}
        <form action="/student/add-neuro/{{recordID}}" method="POST" id="addNeuro">
        {{/unless}}
    {{/if}}
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="neuroInfo">
                    <span class="purple-text darken-2">Neurovascular Details</span>
                    <div class="row">
                            <div class="col s12 m4 input-field">
                                <input id="dateNeuro" type="text" class="datepicker" name="dateNeuro" value="{{editNeuro.date}}" required>
                                <label for="dateNeuro">Date</label>
                                <span class="helper-text">dd/mm/yyyy</span>
                            </div>

                            <div class="col s12 m4 input-field">
                                <input id="timeNeuro" type="text" class="timepicker" name="timeNeuro" value="{{editNeuro.time}}" required>
                                <label for="timeNeuro">Time</label>
                                <span class="helper-text">hh:ss</span>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="siteOfInjury" name="siteOfInjury">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Right Arm">Right Arm</option>
                                    <option value="Left Arm">Left Arm</option>
                                    <option value="Right Leg">Right Leg</option>
                                    <option value="Left Leg">Left Leg</option>

                                </select>
                        <label for="siteOfInjury">Site of Injury</label>

                        </div>         
                    </div> 
                </div>
            </div>
        </div>
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="neuroInfo">

                    <span class="purple-text darken-2">Colour</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftColour" name="leftColour">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Pink">Pink</option>
                                    <option value="Pale">Pale</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Mottled">Mottled</option>
                                </select>
                        <label for="leftColour">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightColour" name="rightColour">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Pink">Pink</option>
                                    <option value="Pale">Pale</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Mottled">Mottled</option>
                                </select>
                        <label for="rightColour">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Temperature</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftTemperature" name="leftTemperature">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Warm">Warm</option>
                                    <option value="Cool">Cool</option>
                                    <option value="Cold">Cold</option>
                                    <option value="Hot">Hot</option>
                                </select>
                        <label for="leftTemperature">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightTemperature" name="rightTemperature">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Warm">Warm</option>
                                    <option value="Cool">Cool</option>
                                    <option value="Cold">Cold</option>
                                    <option value="Hot">Hot</option>
                                </select>
                        <label for="rightTemperature">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Capillary Refill</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftCapillaryRefill" name="leftCapillaryRefill">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="1-2 Sec">1-2 Sec</option>
                                    <option value="3 Sec">3 Sec</option>
                                    <option value="&gt;&#x3D; 4 Sec">&gt;&#x3D; 4 Sec</option>
                                </select>
                        <label for="leftCapillaryRefill">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightCapillaryRefill" name="rightCapillaryRefill">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="1-2 Sec">1-2 Sec</option>
                                    <option value="3 Sec">3 Sec</option>
                                    <option value="&gt;= 4 Sec">&gt;= 4 Sec</option>
                                </select>
                        <label for="rightCapillaryRefill">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Peripheral Pulse</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftPeripheralPulse" name="leftPeripheralPulse">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Strong">Strong</option>
                                    <option value="Weak">Weak</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="leftPeripheralPulse">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightPeripheralPulse" name="rightPeripheralPulse">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Strong">Strong</option>
                                    <option value="Weak">Weak</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="rightPeripheralPulse">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Edema</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftEdema" name="leftEdema">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="None">None</option>
                                    <option value="Slight">Slight</option>
                                    <option value="Moderate">Moderate</option>
                                    <option value="Marked">Marked</option>
                                </select>
                        <label for="leftEdema">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightEdema" name="rightEdema">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="None">None</option>
                                    <option value="Slight">Slight</option>
                                    <option value="Moderate">Moderate</option>
                                    <option value="Marked">Marked</option>
                                </select>
                        <label for="rightEdema">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Movement</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftMovement" name="leftMovement">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Active">Active</option>
                                    <option value="Weak">Weak</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="leftMovement">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightMovement" name="rightMovement">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Active">Active</option>
                                    <option value="Weak">Weak</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="rightMovement">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Sensation</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftSensation" name="leftSensation">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Normal">Normal</option>
                                    <option value="Numb">Numb</option>
                                    <option value="Tingling">Tingling</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="leftSensation">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                            <select id="rightSensation" name="rightSensation">
                                <option value="" disabled selected>Please Select</option>
                                <option value="Normal">Normal</option>
                                <option value="Numb">Numb</option>
                                <option value="Tingling">Tingling</option>
                                <option value="Absent">Absent</option>
                            </select>
                        <label for="rightSensation">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Type of pain scale</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <select id="leftTypeOfPainScale" name="leftTypeOfPainScale">
                                <option value="" disabled selected>Please Select</option>
                                <option value="Numerical Rating Scale">Numerical Rating Scale</option>
                                <option value="Wong-Baker">Wong-Baker</option>
                                <option value="FLACC">FLACC</option>
                            </select>
                            <label for="leftTypeOfPainScale">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                            <select id="rightTypeOfPainScale" name="rightTypeOfPainScale">
                                <option value="" disabled selected>Please Select</option>
                                <option value="Numerical Rating Scale">Numerical Rating Scale</option>
                                <option value="Wong-Baker">Wong-Baker</option>
                                <option value="FLACC">FLACC</option>
                            </select>
                            <label for="rightTypeOfPainScale">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Numerical Rating Scale</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <select id="numericalRatingScaleLeft" name="numericalRatingScaleLeft">
                                <option value="" disabled selected>Please Select</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        <label for="numericalRatingScaleRight">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                            <select id="numericalRatingScaleRight" name="numericalRatingScaleRight">
                                <option value="" disabled selected>Please Select</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        <label for="numericalRatingScaleRight">Right</label>
                        </div>
                        
                    </div>
                    
                    <span class="purple-text darken-2">Verbal Descriptive Scale</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftVerbalDescriptiveScale" name="leftVerbalDescriptiveScale">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Mild pain 3">Mild pain 3</option>
                                    <option value="Moderate pain 6">Moderate pain 6</option>
                                    <option value="Severe pain 9">Severe pain 9</option>
                                </select>
                        <label for="leftVerbalDescriptiveScale">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightVerbalDescriptiveScale" name="rightVerbalDescriptiveScale">
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Mild pain 3">Mild pain 3</option>
                                    <option value="Moderate pain 6">Moderate pain 6</option>
                                    <option value="Severe pain 9">Severe pain 9</option>
                                </select>
                        <label for="rightVerbalDescriptiveScale">Left</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Characteristic</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <select id="leftCharacteristic" name="leftCharacteristic">
                                <option value="" disabled selected>Please Select</option>
                                <option value="No pain">No pain</option>
                                <option value="Dull pain">Dull pain</option>
                                <option value="Sharp pain">Sharp pain</option>
                                <option value="Radiating">Radiating</option>
                            </select>
                        <label for="leftCharacteristic">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                            <select id="rightCharacteristic" name="rightCharacteristic">
                                <option value="" disabled selected>Please Select</option>
                                <option value="No pain">No pain</option>
                                <option value="Dull pain">Dull pain</option>
                                <option value="Sharp pain">Sharp pain</option>
                                <option value="Radiating">Radiating</option>
                            </select>
                        <label for="rightCharacteristic">Right</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col s12 m8"></div>

        <div class="col s12 m4">
            {{#if editNeuro}}
                <button class="btn waves-effect waves-light" style="width: 150px; float:right;" type="submit" form="editNeuro">Save Changes
            {{else}}
                <button class="btn waves-effect waves-light" style="width: 150px; float:right;" type="submit" form="addNeuro">Save
            {{/if}}
            {{#unless userType}}
                <i class="material-icons right">send</i>
                {{else}}
                <i class="material-icons right">send</i>
            {{/unless}}
        </div>
    </div>
</div>

{{!-- Diabetic code end --}}



<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
</script>

<script>
    $(document).ready(() => {
        $('.tabs').tabs();
        
    })
    

    document.addEventListener('DOMContentLoaded', () => {
        //neurovascular
        const dateNeuro = document.querySelector('#dateNeuro');
        const timeNeuro = document.querySelector('#timeNeuro');
        const siteOfInjury = document.querySelector('#siteOfInjury');
        const leftColour = document.querySelector('#leftColour');
        const rightColour = document.querySelector('#rightColour');
        const leftTemperature = document.querySelector('#leftTemperature');
        const rightTemperature = document.querySelector('#rightTemperature');
        const leftCapillaryRefill = document.querySelector('#leftCapillaryRefill');
        const rightCapillaryRefill = document.querySelector('#rightCapillaryRefill');
        const leftPeripheralPulse = document.querySelector('#leftPeripheralPulse');
        const rightPeripheralPulse = document.querySelector('#rightPeripheralPulse');
        const leftEdema = document.querySelector('#leftEdema');
        const rightEdema = document.querySelector('#rightEdema');
        const leftMovement = document.querySelector('#leftMovement');
        const rightMovement = document.querySelector('#rightMovement')
        const leftSensation = document.querySelector('#leftSensation');
        const rightSensation = document.querySelector('#rightSensation');
        const leftTypeOfPainScale = document.querySelector('#leftTypeOfPainScale');
        const rightTypeOfPainScale = document.querySelector('#rightTypeOfPainScale');
        const numericalRatingScaleLeft = document.querySelector('#numericalRatingScaleLeft');
        const numericalRatingScaleRight = document.querySelector('#numericalRatingScaleRight');
        const leftVerbalDescriptiveScale = document.querySelector('#leftVerbalDescriptiveScale');
        const rightVerbalDescriptiveScale = document.querySelector('#rightVerbalDescriptiveScale');
        const leftCharacteristic = document.querySelector('#leftCharacteristic');
        const rightCharacteristic = document.querySelector('#rightCharacteristic');

        //Img
        const elems = document.querySelectorAll('.materialboxed');
        const instances = M.Materialbox.init(elems, {});

        //IO Instances
        M.Datepicker.init(dateNeuro, {
            maxDate: new Date(),
            format: 'dd/mm/yyyy',
            disableWeekends: true
        });
        M.Timepicker.init(timeNeuro, {
            twelveHour: false,
            showClearBtn: true
        });

        M.FormSelect.init(siteOfInjury, {
            
        })      

        M.FormSelect.init(leftColour, {
            
        })

        M.FormSelect.init(rightColour, {
            
        })

        M.FormSelect.init(leftTemperature, {
            
        })

        M.FormSelect.init(rightTemperature, {
            
        })

        M.FormSelect.init(leftCapillaryRefill, {
            
        })

        M.FormSelect.init(rightCapillaryRefill, {
            
        })

        M.FormSelect.init(leftPeripheralPulse, {
            
        })

        M.FormSelect.init(rightPeripheralPulse, {
            
        })

        M.FormSelect.init(leftEdema, {
            
        })

        M.FormSelect.init(rightEdema, {
            
        })

        M.FormSelect.init(leftMovement, {
            
        })
        M.FormSelect.init(rightMovement, {
            
        })
        M.FormSelect.init(leftSensation, {
            
        })
        M.FormSelect.init(rightSensation, {
            
        })
        M.FormSelect.init(leftTypeOfPainScale, {
            
        })
        M.FormSelect.init(rightTypeOfPainScale, {
            
        })
        M.FormSelect.init(numericalRatingScaleLeft, {
            
        })
        M.FormSelect.init(numericalRatingScaleRight, {
            
        })
        M.FormSelect.init(leftVerbalDescriptiveScale, {

        })
        M.FormSelect.init(rightVerbalDescriptiveScale, {

        })
        M.FormSelect.init(leftCharacteristic, {

        })
        M.FormSelect.init(rightCharacteristic, {

        })
    })

    function htmlDecode(input){
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes[0].nodeValue;
    }

    {{#if editNeuro}}
        
        document.getElementById('siteOfInjury').value = "{{editNeuro.siteOfInjury}}";
        document.getElementById('leftColour').value = "{{editNeuro.colourLeft}}";
        document.getElementById('rightColour').value = "{{editNeuro.colourRight}}";
        document.getElementById('leftTemperature').value = "{{editNeuro.temperatureLeft}}";
        document.getElementById('rightTemperature').value = "{{editNeuro.temperatureRight}}";
        document.getElementById('leftCapillaryRefill').value =  htmlDecode("{{editNeuro.capillaryRefillLeft}}");
        document.getElementById('rightCapillaryRefill').value = htmlDecode("{{editNeuro.capillaryRefillRight}}");
        document.getElementById('leftPeripheralPulse').value = "{{editNeuro.peripheralPulseLeft}}";
        document.getElementById('rightPeripheralPulse').value = "{{editNeuro.peripheralPulseRight}}";
        document.getElementById('leftEdema').value = "{{editNeuro.edemaLeft}}";
        document.getElementById('rightEdema').value = "{{editNeuro.edemaRight}}";
        document.getElementById('leftMovement').value = "{{editNeuro.movementLeft}}";
        document.getElementById('rightMovement').value = "{{editNeuro.movementRight}}";
        document.getElementById('leftSensation').value = "{{editNeuro.sensationLeft}}";
        document.getElementById('rightSensation').value = "{{editNeuro.sensationRight}}";
        document.getElementById('leftTypeOfPainScale').value = "{{editNeuro.painLeft}}";
        document.getElementById('rightTypeOfPainScale').value = "{{editNeuro.painRight}}";
        document.getElementById('numericalRatingScaleLeft').value = "{{editNeuro.numericalRatingScaleLeft}}";
        document.getElementById('numericalRatingScaleRight').value = "{{editNeuro.numericalRatingScaleRight}}";
        document.getElementById('leftVerbalDescriptiveScale').value = "{{editNeuro.verbalDescriptiveScaleLeft}}";
        document.getElementById('rightVerbalDescriptiveScale').value = "{{editNeuro.verbalDescriptiveScaleRight}}";
        document.getElementById('leftCharacteristic').value = "{{editNeuro.characteristicLeft}}";
        document.getElementById('rightCharacteristic').value = "{{editNeuro.characteristicRight}}";
        document.getElementById('flowsheetTab').className += " disabled";
        document.getElementById('tab1').className += " active";
   
    {{/if}}

    // modal
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
 </script>